<div class="main-conatiner">
    <div class="welcome">
        <h2>Welcome</h2>
        <p>To start your TODO app you first need to create account or Sign in if you already have one</p>
        <hr style="background-color: white;">
        <div class="buttons">
            <button mat-raised-button color="primary" style="margin-right: 20px;" routerLink="/auth">Sign in</button>
            <button mat-raised-button color="primary" routerLink="/auth">Sign up</button>
        </div>
    </div>
</div>